body {
  background-color: bisque;
  margin: 0;
  font-family: Arial, sans-serif;
}

.canvas-game {
  background-color: #000;
}

h1 {
  margin-top: 0;
}

.menu {
  text-align: center;
  padding-top: 40px;
}